body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background-color: #121212;
}

.pageTitle {
    margin: 25px 0px 0px 0px;
    padding: 0;
    color: #BFBFBF;
}

.createButton {
    width: 150px;
    height: 50px;
    color: #D6D6D6;
    background-color: #282828;
}

.gridContainer {
    display:flex;
    flex-direction: column;
    width: 960px;
    height: 960px;
    background-color: #8b8b8b;
}

.gridRow {
    display: flex;
    flex: 1;
}

.gridBox {
    flex: 1;
    border: 1px solid grey;
}